* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  display: flex;
  background-color: rgb(15, 23, 39);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  width: min(42rem, 100%);
}
